<div class="dashboard">
    <nav  class="h-5rem w-full surface-100">
    <div class="grid  px-4 m-0 main-header">
      <!-- <div class="col-4">
        <div class="ml-5">
          <img src="../../assets/images/techlogo.png" alt="logo" width="50px" height="50px" class="border-circle bg-blue-500">
        </div>
      </div> -->
      <div class="col-12">
       <div class="flex justify-content-center">
         <h2 class="text-base text-bold">AHEX DASHBOARDS</h2>
       </div>
      </div>
      <!-- <div class="col-4">
        <div class="flex justify-content-end ">
          <button pButton class="p-2  w-4rem justify-content-center  blue-900 hover:bg-blue-400"><a class="no-underline text-white" href=""><i class="pi pi-user"></i></a></button>
          <button pButton class="ml-2 p-2  w-4rem justify-content-center blue-900  hover:bg-blue-400"><a class="no-underline text-white" href=""><i class="pi pi-lock"></i></a></button>
       </div>
      </div> -->
    </div>
    </nav>
</div>
