    <app-navbar></app-navbar>
    <div class="main-container">
    <div *ngFor="let item of dashboardData">
       <div *ngIf="item.dashboardId===id">
             <div class="grid">
               <div class="col-8 ">
                  <h1 class="text-center text-lg">{{item.dashboardName}}</h1>
                  <div class="container shadow-7  flex justify-content-center">
                     <img [src]="item.dashboardImage" alt="" >        
                  </div>
               </div>
             </div>
            
       </div>
    </div>
   </div>


